.our-buttons {
    background-color: #D9D9D9;
    color: black;
}
.our-buttons-logout {
    color: white;
    border: 2px solid white;
    border-radius: 0;
    max-width: 200px;
}
.menu-buttons, .our-buttons-logout, .paticka, .no-wrap{
    white-space: nowrap;
}

.top-bar-sizes {
    min-width: 50px;
}
.menu-buttons {
    border: 2px solid black;
    border-radius: 0;
}

#search-area {
    min-width: 50%;
}

.promo-buttons {
    padding-top: 5px;
    padding-bottom: 5px;
}
.min-width-promo {
    min-width: 150px;
}

.max-sizes-zlavy {
    max-width: 90%;
}
.top-logo {
    padding-top: 5px;
    padding-bottom: 5px;
    aspect-ratio: 4/3;
    max-width: 150px;
    content: url("./resources/NoraLogo.svg");
}

@media (min-resolution: 3dppx) {
    .top-logo {
        /* content: url("./resources/NoraLogo.svg"); */
        max-width: 80px;
    }
}

.heading {
    padding-left: 10%;
}

.main-paddings {
    padding-top: 20px;
    padding-bottom: 20px;
}


.buttonProduct1:hover {
    background-color: limegreen;
}

.buttonProduct0 {
    background-color: lime;
}

.buttonProduct2:hover {
    background-color: DodgerBlue;
}

.buttonProduct2 {
    background-color: DodgerBlue;
}

.pagination .page-link {
    color: black;
    background-color: #D9D9D9;
    border-color: #aaa;
}

.pagination .page-item.active .page-link {
    color: black;
    background-color: #aaa;
    border-color: #888;
}

.paticka {
    background-color:#e0e0e0;
    padding:3%;
}
.first-in-zoznam {
    padding-left: 16.5%;
}
.menu-button-left{
    padding-left: 10%;
}
.menu-button-right{
    padding-right: 10%;
}