.our-buttons {
    background-color: #D9D9D9;
    color: black;
}
.menu-buttons {
    border: 2px solid black;
    border-radius: 0;
}
#first-menu-button {
    padding-left: 10px;
}

#last-menu-button {
    padding-right: 5%;
}
.promo-buttons {
    padding-top: 5px;
    padding-bottom: 5px;
}
.top-logo {
    padding-top: 5px;
    padding-bottom: 5px;
}

.heading {
    padding-left: 10%;
}

.main-paddings {
    padding-top: 20px;
    padding-bottom: 20px;
}


.buttonProduct1:hover {
    background-color: limegreen;
}

.buttonProduct0 {
    background-color: lime;
}

.buttonProduct2:hover {
    background-color: DodgerBlue;
}

.buttonProduct2 {
    background-color: DodgerBlue;
}

.paticka {
    background-color:#e0e0e0;
    padding:3%;
}
.first-in-zoznam {
    padding-left: 16.5%;
}
.menu-button-left{
    padding-left: 10%;
}
.menu-button-right{
    padding-right: 10%;
}